@import'./_pages';

.img_container{
    background-image: url("../Images/img_3.jpg");
    padding: 5em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
  
  } 

